


body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;   text-align: left;
}
.header-text{
    padding: 50px;
    background-color: white; 
    text-align: left;
}
        


h1 {
    font-size: 36px;
    margin-bottom: 10px;   
}

span {
    color: hsl(301, 19%, 50%);
}

p {
    font-size: 18px;
    margin-bottom: 20px;    
}

a{
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(301, 19%, 50%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.My-picture {
    display: flex;
    align-items: center; /* Center vertically */
    padding: 3%;
    margin-right: 10px;
  }
  
  img {
    max-width: 100%; 
  }
  .social-icons{    
 margin-top: 20px;   
}   
.fa{    
padding: 10px;    
font-size: 20px;    
text-align: center;    
text-decoration: none;    
margin: 5px 2px;    
border-radius: 50%;   
}   
.fa:hover{    
opacity: 0.7;   
}
.fa-facebook{
    background-color: blue;
    
}
.fa-linkedin{
    background-color: lightblue;
}
.fa-instagram{
    background-color: rgb(255, 145, 0);
}


#header {
    background-color: #333;
    color: hsl(0, 0%, 100%);
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px; /* Adjust as needed */
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}
/*****************************************ABOUT*************************************/
#about {
    background-color: white;
    padding: 50px 0;
}
.p {
    color: black;
    font-size: 10px;
    float: left;
    display: flex;
}
a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: hsl(301, 19%, 50%);
    color: white; /****** color white*****/
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* Change link color on hover for better user experience */
a:hover {
    background-color: hsl(301, 19%, 50%)
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.about-col-1 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}


.about-col-2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


.sub-titles {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

about-col-2 p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
.tab-titles {
    display: flex;
    justify-content: space-between;
    background-color: #666;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.tab-links {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    color: #333;
    font-weight: bold;
}
.tab-links.active-link {
    border-radius: 2px solid #333;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li span {
    color: #555;
    font-weight: bold;
}


/*******************************************services**********************************/

.services {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.website developer {
    margin-bottom: 20px;
}

.service h3 {
    color: #333;
}

.service p {
    color: #666;
}

/************************************CONTACT ME*****************/
/***************style inputs*******************/
input[type=text], select, 
textarea{
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: hsl(301, 19%, 50%);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: white;
}

/***********style contact section******/
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/**********craete two columns that float next to eachother**************/
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
/**clear floats after the columns**/
.row::after {
    content: '';
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    


    
}

/****************************************FOOTER****************/
#container {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}
#footer {
    background-color: #666;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}
 #footer h1 {
    text-align: center;
    font-size: medium;

}
#footer p {
    text-align: center;
    font-size: medium;
}
