


body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;   text-align: left;
}
.header-text{
    padding: 50px;
    background-color: white; 
    text-align: left;
}
        


h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

span {
    color: hsl(301, 19%, 50%);
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a{
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(301, 19%, 50%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
.My-picture {
    text-align: center;
    margin-top: 20px;
}

.My-picture img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


#header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px; /* Adjust as needed */
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}


#about {
    background-color: white;
    padding: 50px 0;
}
a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: hsl(301, 19%, 50%);
    color: #ffffff; /* White color, you can change it */
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* Change link color on hover for better user experience */
a:hover {
    background-color: hsl(301, 19%, 50%)
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.about-col-1 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}


.about-col-2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}


.sub-titles {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

about-col-2 p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
.tab-titles {
    display: flex;
    justify-content: space-between;
    background-color: #666;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.tab-links {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    color: #333;
    font-weight: bold;
}
.tab-links.active-link {
    border-radius: 2px solid #333;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li span {
    color: #555;
    font-weight: bold;
}


footer {
    background-color: hsl(301, 19%, 50%);
    color: black;
    padding: 10px 0;
}

footer p {
    margin: 0;
}